config.py
armies.png
avg dev.png
Battle casualities.png
Buildings Value.png
dev.png
dev clicks.png
folder.txt
found.csv
income.png
income per dev(nation efficency).png
Mana spent on devving.png
Mana spent on teching up.png
manpower per province.png
max manpower.png
moneyspent.png
provinces.png
total navy.png